#!/bin/bash
dbHost=
db=
username=
password=
mysqlPort=
clientId=
rowsPerTx=
numThreads=
totalOps=
#un comment if you want to disable (y/n) prompt before starting the experiment
#skipPrompt="-skipPrompt"
runNumber=
